/* This file is part of coordinates, which visualizes a plane in Cartesian and
 * circular-polar coordinates.
 *
 * Written in 2020, 2021 by Eliah Kagan <degeneracypressure@gmail.com>.
 *
 * To the extent possible under law, the author(s) have dedicated all copyright
 * and related and neighboring rights to this software to the public domain
 * worldwide. This software is distributed without any warranty.
 *
 * You should have received a copy of the CC0 Public Domain Dedication along
 * with this software. If not, see
 * <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

html {
  font-size: 1.2em;
}

body {
  background-color: #fafafa;
  margin: 0 auto;
  max-width: 35rem;
  padding: 0 10px;
}

h1, h2 {
  font-family: 'Red Hat Display', sans-serif;
  letter-spacing: .07em;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  border-bottom: 1px solid lightgray;
  font-size: 1.2rem;
  margin: 1.5rem 0 0 0;
}

canvas {
  /* Prevent double-clicking the canvas from selecting text below it. */
  user-select: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

p, li {
  font-family: 'Red Hat Text', sans-serif;
}

li {
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #ffffdb;
}

b {
  font-weight: normal;
  letter-spacing: .03em;
}

.github-fork-ribbon::after {
  font-family: 'Red Hat Text', sans-serif;
  letter-spacing: .02em;
}

.light-keys kbd {
  cursor: text;
  font-family: 'Fira Code', monospace;
  user-select: auto;
}
