/* This file is part of coordinates, which visualizes a plane in Cartesian and
 * circular-polar coordinates.
 *
 * Written in 2020 by Eliah Kagan <degeneracypressure@gmail.com>.
 *
 * To the extent possible under law, the author(s) have dedicated all copyright
 * and related and neighboring rights to this software to the public domain
 * worldwide. This software is distributed without any warranty.
 *
 * You should have received a copy of the CC0 Public Domain Dedication along
 * with this software. If not, see
 * <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;

  /* Prevent double-clicking the canvas from selecting text below it. */
  user-select: none;
}

p {
  margin-left: 25px;
}

kbd {
  border: 1px solid black;
}
